html{
	height:100%;
}
body{
	height:97%;
	padding:0;
	margin:0 0.1%;
	overflow:hidden;
	font-family: verdana;
	font-size:1.4em;
}
#con-main{
	height:98%;
	margin:1% 0;
}
div.module{
	-moz-border-radius:10px;
	-webkit-border-radius:10px;
	-opera-border-radius:10px;
	-khtml-border-radius:10px;
	border-radius:10px;
	border:4px solid;
}
#con-map{
	float:left;
  height:100%;
  width:60%;
  border-color:#09751B;
}   
body.portrait #con-map{
	float:none;
	height: 60%;
	width: 100%;
}
.loading{
	background-image:url(../images/icon_loader.gif);
	background-repeat: no-repeat;
	background-position: center center;
}
