html{
	height:100%;
}
body{
	background: #ffffff url(../images/bg_work_samples.png) repeat-x top left;
	height:97%;
	padding:0;
	margin:0 0.1%;
	overflow:hidden;
	font-family: verdana;
	font-size:1.4em;
}
#conMain{
	height:98%;
	margin:1% 0;
}
#conInput{
	height:35px;
	/* margin: 0 auto 10px auto;
	 padding:0;
	 width:27.5%;
	 bottom:0;
	 right:10px;
	 overflow:auto;
	 text-align:center;   	
	background-color:#fff;
	position:absolute;
	display:none;*/	
}
#conInput #navFindLoc{
	margin-top:10px;
}
#conInput div.cont-history{
	text-align:left;
	padding:5px;
	margin:0 10px;
	font-size:0.8em;
}
#conInput h2{
	font-weight:bold;
	margin:0;
	padding:0;
}
div.module{
	-moz-border-radius:10px;
	-webkit-border-radius:10px;
	-opera-border-radius:10px;
	-khtml-border-radius:10px;
	border-radius:10px;
	border:4px solid;
}
#conMap{
	float:left;
  height:100%;
  width:60%;
  border-color:#09751B;
}   
body.portrait #conMap{
	float:none;
	height: 60%;
	width: 100%;
}
#conPhotos{
  border-color:#7e0ae5;
	float:right;
	/*height: 93%;*/
	height:100%;
	width:37.5%;
	overflow: auto;
	background-color: rgba(255,255,255,0.3);
	text-align:center;
}
body.portrait #conPhotos{
	float:none;
	height: 360%;
	width: 100%;
}
#conPhotos h2{
	color:#fff;
	font-size:1em;
	margin-top:5px;
}
#conPhotos ul{
	margin:3px;
	padding:0;
}
#conPhotos ul li{
	display:inline-block;
	*zoom:1;
	*display:inline;
	margin:3px 2px 0 2px;
	padding:0;
	list-style:none;
}
#conPhotos a img{
	border:1px solid;
}
.loading{
	background-image:url(../images/icon_loader.gif);
	background-repeat: no-repeat;
	background-position: center center;
}

#conPhotos #popupImage{
  -moz-box-shadow:0 0 20px #000; /* FF1+ */
  -webkit-box-shadow:0 0 20px #000; /* Saf3+, Chrome */
  box-shadow:0 0 20px #000; /* Opera 10.5, IE 9 */
	position:absolute;
	right:10px;
	top:10px;
	max-width:300px;
	max-height:300px;
	min-height:200px;
	overflow:hidden;
	background-color: none;
	display:none;
}